@import 'variables';

.calendar {
    margin: 10px 0;
    width: 100%;
    .date-picker {
        display: block;
        margin: 0 auto;
        width: 288px;
    }
}

// makes whole saturday and sunday columns gray
.ant-picker-content {
    .ant-picker-cell-disabled {
        .disabled-dates();

        &::before {
            background-color: transparent !important;
        }
    }
    
    thead tr > th:nth-child(6),
    thead tr > th:nth-child(7) {
        .disabled-dates();
    }
}

.disabled-dates() {
    background-color: rgba(0, 0, 0, 0.04);
}

// phones
@media only screen and (max-width: 720px) {
    .calendar {
        background-color: #F5F8FF;
        margin: 0;
        padding: 10px 0;
        .date-picker {
            margin: 0 10px;
            width: calc(100% - 22px);
            padding: 6px 14px;
        }
    }

    // magnify font size
    .ant-picker-dropdown {
        font-size: 16px;
    }

    .ant-picker-input input {
        font-size: 16px !important;
    }
}