{block css}
    {include parent}
    <link rel="stylesheet" href="{$basePath}/css/sign.css">
{/block}

{block content}
    <main>
        <h1 n:block=title>Přihlásit se</h1>

        {control signInForm}
    </main>

    <footer>
        <p>© 2023 - 2024 Daniel Žitník</p>
    </footer>
{/block}